@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab/RobotoSlab-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/RobotoSlab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/RobotoSlab/RobotoSlab-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/RobotoSlab/RobotoSlab-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/RobotoSlab/RobotoSlab-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.test{
	position:relative;width:100%;
	height:100%;
	overflow: hidden;
}
.test:after{
	content: 'url('Converted_480.mp4')';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
	background-size: cover;
	background-attachment: fixed;
}
/* Default hide the video on all devices */
#video{display:none}
 
/* Default display the image to replace the video on all devices */
#videosubstitute{display:block;width:100%;height:auto;max-width:100%}
 
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#video{display:block}
#videosubstitute{display:none}
}
#videoDiv {width: 100%; height: 360px; position: relative;}
#videoBlock,#videoMessage {width: 100%; height: 360px; position: absolute; top: 0; left: 0;}
#video{width: 100%; }
#videoMessage {padding:0.4em; margin:0}
#videoMessage {text-shadow: 2px 2px 2px #000000; color:white;z-index:99 }
#videoMessage h1{font-size: 3em;color:#ffffff;text-align:center;}
#videoMessage h2{font-size: 2.5em;color:#ffffff;text-align:center;}
#videoMessage2 h3{font-size: 2.0em;color:#ffffff;text-align:center;}
.videoClick {text-align:center}
.videoClick a{color:white;background-color:rgba(241, 241, 241, 0.25);font-size: 1.7em;cursor:pointer;cursor:hand}
.hero-text h1,p{
	font-family:RobotoSlab-Regular;
}
.hero-box .action-main {
display: inline-block;
}
.hero-box .action-main::after {
clear: both;
content: "";
display: table;
}
.hero-box .action-main > * {
float: left;
}
.hero-box .cnt-btn {
display: inline-block;
padding: 1.8em 6em;
font-size: 1.3rem;
text-transform: uppercase;
font-weight: 800;
font-family: 'Montserrat',sans-serif;
letter-spacing: 1px;
-webkit-border-radius: 6em;
-moz-border-radius: 6em;
-ms-border-radius: 6em;
-o-border-radius: 6em;
border-radius: 6em;
-o-transition: all 0.218s;
-moz-transition: all 0.218s;
-webkit-transition: all 0.218s;
transition: all 0.218s;
}
.hero-box .cnt-btn:hover{
background-color: transparent;
}
.hero-box .cnt-btn a{
color:#fff;
text-decoration:none; 
}
.hero-box .cnt-btn a:hover{
text-decoration:none;
color: inherit;
}
.header-text{
	height:100%;
}
.hero-box{
	text-align:center;
}
.cnt-hero-content .action-main {
display: inline-block;
background-color:#E37949;
border-radius: 6em;
border:2px solid #E37949;
}
.cnt-hero-content .action-main:hover{
background-color: transparent;
}
.cnt-hero-content .action-main a{
	color:#fff;
	text-decoration:none;
}
.cnt-hero-content .action-main:hover {
	background-color:#fff;
}
.cnt-hero-content .action-main:hover a{
	color:#E37949;
}

.cnt-hero-content .action-main > * {
float: left;
}
.cnt-hero-content .cnt-btn {
display: inline-block;
padding: 1.8em 6em;
font-size: 1.3rem;
text-transform: uppercase;
font-weight: 800;
font-family: 'Montserrat',sans-serif;
letter-spacing: 1px;
-webkit-border-radius: 6em;
-moz-border-radius: 6em;
-ms-border-radius: 6em;
-o-border-radius: 6em;
border-radius: 6em;
-o-transition: all 0.218s;
-moz-transition: all 0.218s;
-webkit-transition: all 0.218s;
transition: all 0.218s;
}
.cnt-hero-content .cnt-btn:hover{
background-color: transparent;
}
.cnt-hero-content .cnt-btn a{
color:#fff;
text-decoration:none; 
}
.cnt-hero-content .cnt-btn a:hover{
text-decoration:none;
color: inherit;
}
