<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.css">
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<style>
h1 {
  color: rgb(255, 123, 123);
  font-weight: 300;
  
  span {
    font-weight: 600;
    color: rgb(255, 69, 69) ;
  }
  
  &:hover {
     color: rgb(200, 0, 0);
  }
  
  &:hover span {
    color: rgb(50, 50, 58);
  }
}
</style>
<h1>Less <span>nesting</span> is awesome</h1>