.test{
	position:relative;width:100%;
	height:100%;
	overflow: hidden;
}
.test:after{
	content: 'url('Converted_480.mp4')';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
	background-size: cover;
	background-attachment: fixed;
}
/* Default hide the video on all devices */
#video{display:none}
 
/* Default display the image to replace the video on all devices */
#videosubstitute{display:block;width:100%;height:auto;max-width:100%}
 
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#video{display:block}
#videosubstitute{display:none}
}
#videoDiv {width: 100%; height: 360px; position: relative;}
#videoBlock,#videoMessage {width: 100%; height: 360px; position: absolute; top: 0; left: 0;}
#video{width: 100%; }
#videoMessage {padding:0.4em; margin:0}
#videoMessage {text-shadow: 2px 2px 2px #000000; color:white;z-index:99 }
#videoMessage h1{font-size: 3em;color:#ffffff;text-align:center;}
#videoMessage h2{font-size: 2.5em;color:#ffffff;text-align:center;}
#videoMessage2 h3{font-size: 2.0em;color:#ffffff;text-align:center;}
.videoClick {text-align:center}
.videoClick a{color:white;background-color:rgba(241, 241, 241, 0.25);font-size: 1.7em;cursor:pointer;cursor:hand}
